body {
  padding-left: 11em;
  font-family: Calibri (Body),
        Times, serif;
  color: green;
  background-color: red }
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
h1 {
  font-family: Cambria, Calibri light, Georigia,
        SunSans-Regular, sans-serif;
	color:#ffff00;
	background-color: blue
		 }
h2 {
  font-family: Cambria, Calibri light, Georigia,
        SunSans-Regular, sans-serif;
	color:#aaaa00; 
	background-color: blue}
h3 {
  font-family: Century, Calibri light, Georigia,
        SunSans-Regular, sans-serif;
	color:#1456a0;
	background-color: blue }
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: purple }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }